:root {
  --text-dark: #222;
  --text-light: #fff;
  --text-accent: #298360;
  --text-danger: #f00;
  --text-small: #aaa;
}
/* Общие */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  color: var(--text-main);
}
input, textarea {
  font-family: sans-serif;
}
/* Сетка */
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-6 {
  width: 50%;
}
.col-9 {
  width: 75%;
}
.col-12 {
  width: 100%;
}
/*меню*/
.menu {
  background-color: #fff;
  margin: 0;
  padding: 0;
  padding: 15px;
}

.menu .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.menu .phone a {
    color: var(--text-accent);
    text-decoration: none;
}
.menu .phone a:hover {
  color: var(--text-main);
  text-decoration: underline;
}

.menu .row > ul {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
  text-transform: uppercase;
} 

.menu .row > ul > li {
    margin: 0 10px;
    padding: 10px;
}

.menu .row > ul .logo {
  margin: 0 40px;
}

.menu .row > ul a.active:hover + ul,
.menu .row > ul ul:hover {
  opacity: 1;
  visibility: visible;
}
.menu .row > ul ul {
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #eee;
  position: absolute;
  top: 70px;
  width: 280px;
  padding-left: 0;
  list-style: none;
  background-color: #fff;
}
.menu .row > ul ul li {
  padding: 10px;
}
.menu .row > ul > li a {
  color: var(--text-main);
  text-decoration: none;
}
.menu .row > ul > li a:hover {
  color: var(--text-accent);
}

.row > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu .logo img {
    height: 50px;
}

.btn > a {
  cursor: pointer;
  display: block;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-accent);
  border: 2px solid var(--text-accent);
  padding: 10px;
  transition: 0.2s;
}

.burger {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--text-main);
}

.cross {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--text-main);
}

.mobile {
  display: none;
}

@media (max-width: 983px) {

  .mobile {
  display: flex;
}
  .burger {
    display: block;
    margin-left: auto;
    padding: 10px;
    z-index: 1001;
    cursor: pointer;
  }

  .cross {
    display: none;
    margin-left: auto;
    padding: 10px;
    z-index: 1001;
    cursor: pointer;
  }

  .burger.hide {
    display: none;
  }

  .cross.show {
    display: block;
  }

  /* базово ховаємо меню за лівим краєм */
  .menu .row {
    position: fixed;
    top: 0;
    left: -250px; /* ширина меню */
    width: 250px;
    height: 100%;
    background-color: aqua; /* або інший колір */
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
    display: block;
  }

  /* при додаванні класу show – виїжджає */
  .menu .row.show {
    left: 0;
  }

  /* ховаємо всі <li> крім логотипу */
  .menu .row > ul > li {
    display: none;
  }

  /* коли меню відкрите – показуємо всі <li>, крім логотипу */
  .menu .row.show > ul > li {
    display: block;
    padding: 10px 20px;
  }

  .menu .row.show > ul > li.logo {
    display: none;
  }

  /* підменю всередині "Послуги" */
  .menu .row.show > ul li ul {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
    border: none;
    background: transparent;
    padding-left: 20px;
  }

  .menu .row.show ul {
    flex-direction: column;
    width: 100%;
  }

  .menu .phone,
  .menu .btn {
    display: none;
  }
}